body {
    box-sizing: border-box;
    border: solid 1px black;
    margin: 0 auto;
    min-height: 800px;
}

.blue {
    width: 300px;
    height: 300px;
    background: blue;
    margin: 0 auto;
    animation-name: test;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    transform-style: preserve-3d;
}

@keyframes test
{
    from{
        transform:rotateY(0) translateZ(50px)   }
    to{
        transform:rotateY(360deg) translateZ(20px);
    }
}

.red {
    width: 300px;
    height: 300px;
    background: red;
    margin: 0 auto;
    animation-name: test2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    transform-style: preserve-3d;
}
@keyframes test2
{
    from{
        transform:rotateY(0) translateZ(20px)
    }
    to{
        transform:rotateY(360deg) translateZ(20px)
    }
}

